<!-- payments.component.html -->
<!-- <div class="container">
  <h2>Paiements</h2>
  <ul class="list-group">
    <li *ngFor="let payment of payments" class="list-group-item">
      {{ payment.description }} - {{ payment.amount | currency }}
    </li>
  </ul>
  <div class="form-group">
    <label for="description">Description</label>
    <input id="description" class="form-control" type="text" #desc>
  </div>
  <div class="form-group">
    <label for="amount">Montant</label>
    <input id="amount" class="form-control" type="number" #amount>
  </div>
  <button (click)="addPayment(desc.value, +amount.value)" class="btn btn-success">Ajouter un paiement</button>
</div> -->
